
.body{
    background: rgb(9, 9, 15);
  }
  
  .wrapper{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  nav{
    background: rgba(255, 0, 0, 0.774);
  }
  nav ul{
    list-style-type: none;
    padding: 0;

  }
  nav a{
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
  }
  nav a:hover{
    background-color: rgb(255, 160, 160);
    width: auto;
    color: white;
    
  }
  .home-page{
    background-image: url(./Images/Gear-Tesla-Bot.jpg);
    background-size: 1750px 165%;
    background-repeat: no-repeat;
  }
  .store-page{
    background-image: url(./Images/Gear-Tesla-Bot.jpg);
    background-size: 1750px 165%;
    background-repeat: no-repeat;
  }
 .p{
   color: rgb(255, 255, 255);
   margin: 25px;
   justify-content: left;
   display: grid;
   
 }
.container{
columns: 1 1;
padding: 10px;
margin: 10px;
max-width: 300px;
}


  @media screen and (min-width: 280px){

    nav ul{
      display: flex;
    }
    
    nav li{
      flex: 1 1 0;
    }
    nav{
      display: center;
      justify-content: space-between;
    }};